.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 430px;
}

.full {
  width: 100%;
}

.logo{
  max-width: 40%;
  width: 130px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: whitesmoke;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.navbar {
  margin-bottom: 5%;
}

.error-sign {
  color: red !important;
}

.success-sign {
  color: green;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

.color-black {
  color: black;
}

.border-2 {
  border-width: 2px !important;
}
